.calculator {
    background: rgb(73, 73, 73);
    width: 19rem;
    height: 25rem;
    margin: 5rem auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    padding: 1rem;
    border-radius: 1rem;
}

.calculator__screen {
    display: flex;
    align-items:center;
    justify-content: center;
    background: white;
    width: 100%;
    height: 25%;
    border-radius: 1rem;
}

.screen__numbers {
    margin-top: .5rem;
    font-size: 3rem;
}

.calculator__row {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
}

.calculator__button {
    width: 22%;
    height: 100%;
    font-size: 2rem;
    border-radius: .5rem;
    font-weight: bold;
}

.calculator__button:hover {
    background: rgba(255, 255, 255, .5);
}

.calculator__button--equal {
    width: 48%;
}
